<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

	<title>Employee Directory</title>
</head>

<body>

<div class="container">

	<a th:href="@{/orders/newOrder}" class="btn btn-primary btn-sm mb1"> New Order</a>
	<h3>Order Management</h3>
	<hr>

	<table class="table table-bordered table-striped">
		<thead class="table-dark">
		<tr>
			<th>id</th>
			<th>date</th>
			<th>total price</th>
			<th>status</th>
			<th>address</th>
			<th>notes</th>
		</tr>
		</thead>

		<tbody>
		<tr th:each="order : ${orders}">

			<td th:text="${order.id}" />
			<td th:text="${order.totalPrice}" />
			<td th:text="${order.orderStatus.name()}" />
			<td th:text="${order.totalPrice}" />
			<td th:text="${order.totalPrice}" />
			<td th:text="${order.totalPrice}" />

			<td>
				<a th:href="@{/orders/updateOrder(order_id=${order.id})}"
				   class="btn btn-info btn-sm">
					Edit
				</a>

				<a th:href="@{/orders/deleteOrder(order_id=${order.id})}"
				   class="btn btn-danger btn-sl" onclick="if (!(confirm('are you sure to delete the order?'))) return false">
					Delete
				</a>

			</td>
		</tr>
		</tbody>
	</table>

</div>

</body>
</html>



