<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Update Information</title>
</head>
<body>
<div class="container">

    <h3>Info</h3>
    <hr>

    <p class="h4 mb-4">add an order </p>

    <form action="#" th:action="@{/orders/save}"
          th:object="${orders}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <div th:text="*{totalPrice}"></div>

        <!--        //to do with the total price-->
<!--        <input type="text" th:field="*{recepient_remark}"-->
<!--               class="form-control mb-4 w-25" placeholder="recepient_remark">-->

<!--        <input type="text" th:field="*{orderStatus}"-->
<!--               class="form-control mb-4 w-25" placeholder="orderStatus">-->
        <select th:field="*{orderStatus}" class="form-control mb-4 w-25">
            <option value="">Select Status</option>
            <option th:each="status : ${T(org.jasmine.ecommerce.entity.OrderStatus).values()}"
                    th:value="${status}"
                    th:text="${status}">
            </option>
        </select>

        <input type="text" th:field="*{buyerNotes}"
               class="form-control mb-4 w-25" placeholder="remark">

        <input type="text" th:field="*{address.detail_address}"
               class="form-control mb-4 w-25" placeholder="address">

        <button type="submit" class="btn btn-info col-2">confirm</button>

    </form>

    <hr>
    <a th:href="@{/sales/order}">Back</a>

</div>


</body>
</html>