<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Update Information</title>
</head>
<body>
<div class="container">

    <h3>Info</h3>
    <hr>

    <p class="h4 mb-4">add an order </p>

    <form action="#" th:action="@{/sales/save}"
          th:object="${sales}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{sales_id}" />

        <div th:text="*{sales_date_time}"></div>

        <!--        //to do with the total price-->
<!--        <input type="text" th:field="*{recepient_remark}"-->
<!--               class="form-control mb-4 w-25" placeholder="recepient_remark">-->

        <input type="text" th:field="*{recepient_addeess}"
               class="form-control mb-4 w-25" placeholder="recepient address">

        <input type="text" th:field="*{recepient_remark}"
               class="form-control mb-4 w-25" placeholder="remark">

        <input type="text" th:field="*{recepient_phone}"
               class="form-control mb-4 w-25" placeholder="phone">

        <button type="submit" class="btn btn-info col-2">confirm</button>

    </form>

    <hr>
    <a th:href="@{/sales/order}">Back</a>

</div>


</body>
</html>