<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sales</title>
</head>
<body>
<table>
    <tr>
        <th>Sales ID</th>
        <th>Customer ID</th>
        <th>Date and Time</th>
        <th>Recipient Address</th>
        <th>Recipient Phone</th>
        <th>Recipient Remark</th>
        <th>Is Showed</th>
    </tr>
    <tr th:each="sale : ${sales}">
        <td th:text="${sale.sales_date_time}"></td>
        <td th:text="${sale.customer_id}"></td>
        <td th:text="${sale.sales_date_time}"></td>
        <td th:text="${sale.recepient_phone}"></td>
        <td th:text="${sale.recepient_phone}"></td>
        <td th:text="${sale.recepient_phone}"></td>
        <td th:text="${sale.recepient_phone}"></td>
    </tr>
</table>
</body>
</html>
