<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Employee Directory</title>
</head>

<body>

<div class="container">

    <a th:href="@{/users/register}" class="btn btn-primary btn-sm mb1">Sign up</a>
    <h3>user</h3>
    <hr>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>username</th>
            <th>phone</th>
            <th>email</th>
            <th>photo</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="user : ${users}">

            <td th:text="${user.username}" />
            <td th:text="${user.phone}" />
            <td th:text="${user.email}" />
            <td th:text="${user.avatar}" />

            <td>
                <a th:href="@{/users/updateUser(id=${user.userid})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>

                <a th:href="@{/users/deleteAccount(id=${user.userid})}"
                   class="btn btn-danger btn-sl" onclick="if (!(confirm('are you sure to delete the order?'))) return false">
                    Delete
                </a>

            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>



